* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #ACC9E7;
    --secondary-color: #283747;
    --tertiary-color: #ECF0F1;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--secondary-color);
}
/* Header Style BEGINS*/
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    border: 5px solid var(--secondary-color);
    border-radius: 15px;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 35px;
    font-weight: lighter;
    font-size: 1.70vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
}
header nav ul li a:hover {
    background: var(--secondary-color);
    color: white;
    border-radius: 15px;
    text-shadow: none;
}
/* Header style ENDS */

/* Footer Style BEGINS*/
footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 20px;
    margin: 0;
    text-align: right;
}
/* Footer Style ENDS*/

/* About Me Section Styling BEGINS */
#about-me {
    display: flex;
    flex-wrap: wrap;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 5px solid var(--secondary-color);
    border-radius: 15px;
}
#about-me h2 {
    font-weight: bold;
    font-size: 25px;
    color: var(--secondary-color);
    margin: 15px;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.intro img {
    width: 450px;
    height: 270px;
    padding: 10px;
    align-items: right;
    box-shadow: 3px solid rgba(0,0,0,0.5);
}
.intro p {
    color: var(--secondary-color);
    flex-wrap: wrap;
    justify-content: left;
    border: 5px solid var(--secondary-color);
    border-radius: 15px;
}
.flex-row {
    display: flex;
    text-align-last: right;
    width: 50%;
}
/* About Me Section Styling ENDS */

/* My Projects Styling BEGINS */


/* My Projects Styling ENDS */